<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Мониторинг развития сети МФЦ</title>
	<link rel="stylesheet" href="css/at.min.css">
	<script src="js/vue.js"></script>
	<script src="js/vue-router.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<script src="js/at.min.js"></script>
	<script src="js/httpVueLoader.js"></script>
</head>
<body>
	<script>
		var ngui = require('nw.gui');
		var nwin = ngui.Window.get();
		onload = function() {
		    nwin.show();
		    nwin.maximize();
		}
		var commonMethods = {
		  methods: {
			fetchAndSave: function(url, path) {
				console.log(url, path);
				fetch(url, {
					credentials: "same-origin"
				})
					.then((response) => {
						if(!response.ok) {
							throw new Error('Network response was not ok');
						}
						return(response.arrayBuffer())
					})
					.then(function(buffer) {
						fs.writeFile(path, Buffer(new Uint8Array(buffer)));
					})
					.catch((error) => {
						throw new Error(error);
					});
			},
			sendMultiformData: function(url, form, callback) {
				var formData  = new FormData(form);

				fetch(url, {
					credentials: "same-origin",
					method: 'POST',
					body: formData
				})
				.then((response) => {
						if(!response.ok) {
							throw new Error('Network response was not ok');
						}
						response.json().then(function(data) {
							console.log(data);
							if (data.success) {
								app.$Message.success({
									message:'Успех!',
									duration: 3000
								});
							}
							else {
								app.$Message.error({
									message:data.data[0],
									duration: 9000
								});

							}
						});
				});
			}
		  }
		}
Vue.component('schedule', {
	template: '#schedule',
	props: {
		schedule: Object
	},
	data: function () {
    return {
		week: [
			{
				label: 'Понедельник:',
				shortName: 'mo'
			},
			{
				label: 'Вторник:',
				shortName: 'tu'
			},
			{
				label: 'Среда:',
				shortName: 'we'
			},
			{
				label: 'Четверг:',
				shortName: 'th'
			},
			{
				label: 'Пятница:',
				shortName: 'fr'
			},
			{
				label: 'Суббота:',
				shortName: 'sa'
			},
			{
				label: 'Воскресенье:',
				shortName: 'su'
			}
		]
    }
  }
});
var templateGrid = Vue.component('template-grid', {
	template: '#template-grid-template',
	mixins: [commonMethods],
  props: {
    data: Array,
    columns: Array,
    favoriteList: Object,
    filterKey: String,
    isFavoriteOnly: Boolean,
    year: Number,
    month: Number,
    templateType: Number,
    mouType: String
  },
  data: function () {
    var sortOrders = {}
    this.columns.forEach(function (key) {
      sortOrders[key.field] = 1;
    })
    return {
      sortKey: '',
      sortOrders: sortOrders
    }
  },
  computed: {
	dictionarySubjectName: function() {
		return(app.dictionarySubjectName);
	},
    filteredData: function () {
      var sortKey = this.sortKey;
      var filterKey = this.filterKey && this.filterKey.toLowerCase();
      var isFavoriteOnly = this.isFavoriteOnly;
      var favoriteList = this.favoriteList;
      var order = this.sortOrders[sortKey] || 1;
      var data = this.data;
      if (data) {
	      if (isFavoriteOnly) {
	      	data = data.filter( function(item) {
	      		return(favoriteList && favoriteList[item.id] == true);
	      	})
	      }
	      if (filterKey) {
	        data = data.filter(function (row) {
	          return Object.keys(row).some(function (key) {
	            return String(row[key]).toLowerCase().indexOf(filterKey) > -1
	          })
	        })
	      }
		    if (!isFavoriteOnly) {
		    	var favoriteData = data.filter( function(item) {
		    		return(favoriteList && favoriteList[item.id] == true);
		    	})
		    	var nonFavoriteData = data.filter( function(item) {
		    		return(favoriteList && favoriteList[item.id] != true);
		    	});
		    	if (sortKey) {
			      var favoriteData = favoriteData.sort(function (a, b) {
			        a = a[sortKey]
			        b = b[sortKey]
			        return (a === b ? 0 : a > b ? 1 : -1) * order
			      });
			      nonFavoriteData = nonFavoriteData.sort(function (a, b) {
			        a = a[sortKey]
			        b = b[sortKey]
			        return (a === b ? 0 : a > b ? 1 : -1) * order
			      })
		    	}
		      data = favoriteData.concat(nonFavoriteData);
		    }
		    else {
		    	if (sortKey) {
			      data = data.sort(function (a, b) {
			        a = a[sortKey]
			        b = b[sortKey]
			        return (a === b ? 0 : a > b ? 1 : -1) * order
			      })
			    }
		    }
    	}
      return data
    }
  },
  filters: {
    capitalize: function (str) {
      return str.charAt(0).toUpperCase() + str.slice(1)
    }
  },
	methods: {
		sortBy: function (key) {
		  this.sortKey = key;
		  this.sortOrders[key] = this.sortOrders[key] * -1;
		},
		handleFavoriteClick: function(e) {
	  	var id = e.target.parentNode.parentNode.parentNode.id;
	  	var newValue = app.favoriteList;
	  	if (e.target.checked) {
	  		newValue[id] = e.target.checked;
	  	}
	  	else {
	  		delete newValue[id];
	  	}
	  	app.favoriteList = newValue;
		}
	},
	created: function() {
		//console.log('COLUMNS IN GRID - ' + this.columns);
	}
})
var templateView = Vue.component('template-view', {
	template: '#template-view',
  	mixins: [commonMethods],
	props: {
		list: String,
		columns: String,
		//isFavoriteOnly: Boolean,
		//favoriteList: Array,
	},
	data: function() {
		return {
			searchQuery: '',
			templateType: 2,
			month: null,
			year: null,
		}
	},
	computed: {
		gridColumns: function() {
			return(app[this.columns]);
		},
		gridData: function() {
			return(app[this.list]);
		},
		favoriteList: function() {
			return(app.favoriteList);
		},
		dictionarySubjectName: function() {
			return(app.dictionarySubjectName);
		},
		isFavoriteOnly: {
			get: function() {
				return(app.isFavoriteOnly);
			},
			set: function(newValue) {
				app.isFavoriteOnly = newValue;
			}
		}
	},
	methods: {
		handleIsFavoriteOnlyChange: function(e) {
			localStorage.setItem( "isFavoriteOnly", e.target.checked )
		},
		handleFileSelect: function(e) {
			document.getElementById('uploadFilename').value=e.target.files[0].name;
			this.uploadTemplate();
		},
		uploadTemplate: function() {
			let form = document.getElementById('uploadTemplate');
			this.sendMultiformData('https://xn--d1achjhdicc8bh4h.xn--p1ai/mfc/ws/quarterDataExcel/uploadData', form);
		}
	},
	mounted: function() {
		this.month = (new Date).getMonth() || 12;
		if (this.month == 12) {
			this.year = (new Date).getFullYear() - 1;
		}
		else {
			this.year = (new Date).getFullYear();
		}		
	},
	created: function() {
		if (!app.mfcList) {
			app.getMfcList();
		}
		if (!app.urmList) {
			app.getUrmList();
		}
	}
});
var commonDataView = Vue.component('common_data-view', {
	template: '#common_data-view',
  	mixins: [commonMethods],
	props: {
		list: String,
		columns: String,
	},
	data: function() {
		return {
			searchQuery: '',
		}
	},
	computed: {
		gridColumns: function() {
			return(app[this.columns]);
		},
		gridData: function() {
			return(app[this.list]);
		},
		favoriteList: function() {
			return(app.favoriteList);
		},
		dictionarySubjectName: function() {
			return(app.dictionarySubjectName);
		},
		isFavoriteOnly: {
			get: function() {
				return(app.isFavoriteOnly);
			},
			set: function(newValue) {
				app.isFavoriteOnly = newValue;
			}
		}
	},
	methods: {
		handleIsFavoriteOnlyChange: function(e) {
			localStorage.setItem( "isFavoriteOnly", e.target.checked )
		},
	},
	created: function() {
		if (!app.mfcList) {
			app.getMfcList();
		}
		if (!app.urmList) {
			app.getUrmList();
		}
	}
});
		//var PartialMatchFilterComponent = require('PartialMatchFilterComponent');
		//страничка со всеми МФЦ https://моидокументы.рф/mfc/ws/cards/urm/getListWithProjection?query={%22common_data.status%22%3A%22%D0%B4%D0%B5%D0%B9%D1%81%D1%82%D0%B2%D1%83%D1%8E%D1%89%D0%B8%D0%B9%22%2C%22common_data.rf_subject%22%3A80}&projection=common_data&page=1&start=0&limit=20
		// инфа о конкретном МФЦ https://моидокументы.рф/mfc/ws/card/amm_sys_urm_card_form/common_data?_dc=1507099217843&id=10673
	</script>
<script type="text/x-template" id="user-settings">
	<div>
		<div v-for="field in userSettings">
			<label :for="field.field">{{ field.label + ' ' + currentUser[field.field] }}</label><br>
		</div>
	</div>
</script>
<script type="text/x-template" id="schedule">
	<div>
		<template v-for="day in week">
			<span>{{ day.label }}</span>
			<input type="checkbox" :checked="schedule[day.shortName + '_weekend']"><label for="">выходной</label>
			<label for="">с</label><input type="time" :value="schedule[day.shortName + '_from']"><label for="">до</label><input type="time" :value="schedule[day.shortName + '_to']">
			<input type="checkbox" :checked="schedule[day.shortName + '_no_breakfast']"><label for="">без перерыва</label>
			<label for="">с</label><input type="time" :value="schedule[day.shortName + '_breakfast_from']"><label for="">до</label><input type="time" :value="schedule[day.shortName + '_breakfast_to']">
			<br>
		</template>
	</div>
</script>
<script type="text/x-template" id="template-grid-template">
  <table :class="{ 'favorite-only' : isFavoriteOnly }">
    <thead>
      <tr>
        <th v-for="(key, index) in columns"
          @click="!key.noSort ? sortBy(key.field) : ''"
          :class="'column__' + key.field + ' ' + { active: sortKey == key.field }">
          {{ key.label }}
          <span v-if="!key.noSort && sortKey == key.field" class="arrow" :class="sortOrders[key.field] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filteredData" :id="entry.id">
        <td v-for="key in columns" :class="'column__' + key.field">
          <label v-if="key.label == ' '" class="is_favorite">
            <input type="checkbox" @change="handleFavoriteClick" :checked="favoriteList[entry.id] == true">
            <div></div>
          </label>
          <template v-else-if="key.label == 'Шаблоны'">
						<label tabindex="0" title="Федеральные услуги" class="templateDownloadLabel">Ф<input style="display: none;" type="file" :nwsaveas="'ФОИВ ' + entry.full_name + '.xls'" :url="'https://xn--d1achjhdicc8bh4h.xn--p1ai/mfc/ws/quarterDataExcel/templateMou/' + entry[key.field] + '?year=' + year + '&month=' + month + '&serviceType=federal&mouType=' + mouType + '&subjectId=80&templateType=' + templateType + ''" onchange="app.fetchAndSave(this.getAttribute('url'), this.value); this.value='';" /></label>
						<template v-if="$route.path == '/mfc_template_list'">
							<label tabindex="0" title="Региональные услуги" class="templateDownloadLabel">Р<input style="display: none;" type="file" :nwsaveas="'РОИВ ' + entry.full_name + '.xls'" :url="'https://xn--d1achjhdicc8bh4h.xn--p1ai/mfc/ws/quarterDataExcel/templateMou/' + entry[key.field] + '?year=' + year + '&month=' + month + '&serviceType=regional&mouType=' + mouType + '&subjectId=80&templateType=' + templateType + ''" onchange="app.fetchAndSave(this.getAttribute('url'), this.value); this.value='';" /></label>
							<label tabindex="0" title="Муниципальные услуги" class="templateDownloadLabel">М<input style="display: none;" type="file" :nwsaveas="'МОИВ ' + entry.full_name + '.xls'" :url="'https://xn--d1achjhdicc8bh4h.xn--p1ai/mfc/ws/quarterDataExcel/templateMou/' + entry[key.field] + '?year=' + year + '&month=' + month + '&serviceType=municipal&mouType=' + mouType + '&subjectId=80&templateType=' + templateType + ''" onchange="app.fetchAndSave(this.getAttribute('url'), this.value); this.value='';" /></label>
						</template>
						<label tabindex="0" title="Услуги иных организаций" class="templateDownloadLabel">И<input style="display: none;" type="file" :nwsaveas="'Иные услуги ' + entry.full_name + '.xls'" :url="'https://xn--d1achjhdicc8bh4h.xn--p1ai/mfc/ws/quarterDataExcel/templateMou/' + entry[key.field] + '?year=' + year + '&month=' + month + '&serviceType=otherServices&mouType=' + mouType + '&subjectId=80&templateType=' + templateType + ''" onchange="app.fetchAndSave(this.getAttribute('url'), this.value); this.value='';" /></label>

						<label tabindex="0" title="Окна и сотрудники" class="templateDownloadLabel">О<input style="display: none;" type="file" :nwsaveas="'Окна и сотрудники ' + entry.full_name + '.xls'" :url="'https://xn--d1achjhdicc8bh4h.xn--p1ai/mfc/ws/quarterDataExcel/templateMou/' + entry[key.field] + '?year=' + year + '&month=' + month + '&serviceType=windowsAndEmployee&mouType=' + mouType + '&subjectId=80&templateType=' + templateType + ''" onchange="app.fetchAndSave(this.getAttribute('url'), this.value); this.value='';" /></label>
        	</template>
        	<template v-else-if="key.field == 'urban_area' || key.field == 'urban_district'">
        		{{ dictionarySubjectName[entry[key.field]] }}
        	</template>
			<template v-else-if="key.field == 'address0'">
				{{ entry[key.field].split(',').slice(entry[key.field].split(',').length-2).join(',') }}
			</template>
			<template v-else-if="key.field == 'start_date'">
				{{ entry[key.field] | date }}
			</template>
			<span v-else="">
				{{ entry[key.field] }}
			</span>          
		</td>
      </tr>
    </tbody>
  </table>
</script>
<script type="text/x-template" id="template-view">
	<div>
		<div id="toolPanel" style="padding:4px; display: flex; align-items: flex-end;">
			<at-checkbox v-model="isFavoriteOnly" @change="handleIsFavoriteOnlyChange" label="Только избранное" style="padding-right: 8px;padding-left: 8px;align-self: center;">Только избранное</at-checkbox>
			<div style="width: 200px; display: inline-block;"><at-input v-model="searchQuery" size="small">
				<template slot="prepend">
					<i class="icon icon-filter"></i>
				</template>
			</at-input></div>
			<div style="width: 100px; display: inline-block;">
				<at-select name="month"  v-model="month" size="small">
					<at-option :value="1">Январь</at-option>
					<at-option :value="2">Февраль</at-option>
					<at-option :value="3">Март</at-option>
					<at-option :value="4">Апрель</at-option>
					<at-option :value="5">Май</at-option>
					<at-option :value="6">Июнь</at-option>
					<at-option :value="7">Июль</at-option>
					<at-option :value="8">Август</at-option>
					<at-option :value="9">Сентябрь</at-option>
					<at-option :value="10">Октябрь</at-option>
					<at-option :value="11">Ноябрь</at-option>
					<at-option :value="12">Декабрь</at-option>
				</at-select>
			</div>
			<div style="width: 80px; display: inline-block;">
				<at-input v-model="year" size="small"></at-input>
			</div>
			<div style="width: 200px; display: inline-block;">
				<at-select v-model="templateType" size="small">
					<at-option :value="1">Полные</at-option>
					<at-option :value="2">Сокращённые</at-option>
				</at-select>
			</div>
			<div class="spacer"></div>
			<form @submit.prevent="uploadTemplate" id="uploadTemplate" method="post" action="https://xn--d1achjhdicc8bh4h.xn--p1ai/mfc/ws/quarterDataExcel/uploadData" enctype="multipart/form-data" target="_blank">
				<input id="uploadFilename" name="filename" type="hidden">
				<label class="at-btn at-btn--primary at-btn--small"><i class="icon icon-upload"></i>  Загрузить шаблон<input style="display:none" type="file" name="docFile" @change="handleFileSelect"></label>
			</form>
		</div>

		<template-grid
			:data="gridData"
			:columns="gridColumns"
			:filter-key="searchQuery"
			:is-favorite-only="isFavoriteOnly"
			:favorite-list="favoriteList"
			:mou-type="$route.path == '/mfc_template_list' ? 'mfc' : 'urm'"
			:year="year"
			:month="month"
			:template-type="templateType">
		</template-grid>
	</div>
</script>
<script type="text/x-template" id="common_data-view">
	<div>
		<div id="toolPanel" style="padding:4px; display: flex; align-items: flex-end;">
			<at-checkbox v-model="isFavoriteOnly" @change="handleIsFavoriteOnlyChange" label="Только избранное" style="padding-right: 8px;padding-left: 8px;align-self: center;">Только избранное</at-checkbox>
			<div style="width: 200px; display: inline-block;">
				<at-input v-model="searchQuery" size="small">
					<template slot="prepend">
						<i class="icon icon-filter"></i>
					</template>
				</at-input>
			</div>
		</div>
		<template-grid
			:data="gridData"
			:columns="gridColumns"
			:filter-key="searchQuery"
			:is-favorite-only="isFavoriteOnly"
			:favorite-list="favoriteList">
		</template-grid>
	</div>
</script>
	<div id="app">
		<header>
			<div class="spacer"></div>
			<template v-if="currentUser">
				<router-link to="/user_settings"  class="userfio textBtn">{{ currentUser.fio }}</router-link>
				<a @click.prevent="logout" class="logout textBtn" href="https://моидокументы.рф/mfc/ws/auth/logout">Выход</a>
			</template>
			<template v-else>
				<form action="https://моидокументы.рф/mfc/ws/auth/login" method="post" @submit.prevent="submitLogin">
					<label for="username">Логин:</label>
					<input id="username" type="text" name="username">
					<label for="password">Пароль:</label>
					<input id="password" type="password" name="password">
					<input type="checkbox" id="rememberLogin">
					<label for="rememberLogin">Запомнить меня</label>
					<button type="submit">Ок</button>
				</form>
			</template>
		</header>
		<div v-if="currentUser" class="main">
			<div class="menu">
				<at-menu mode="vertical" router="router">
					<at-menu-item-group title="Шаблоны">
						<at-menu-item to="/mfc_template_list">МФЦ</at-menu-item>
						<at-menu-item to="/urm_template_list">ТОСП</at-menu-item>
					</at-menu-item-group>
					<at-menu-item-group title="Подсистемы сбора информации">
							<at-menu-item to="/mfc_common_data">МФЦ</at-menu-item>
							<at-menu-item to="/urm_common_data">ТОСП</at-menu-item>
						</at-menu-item-group>
				</at-menu>
				<span class="version">v:{{ version }}</span>
			</div>
			<router-view class="display" style="overflow-y: auto; overflow-x: hidden;"></router-view>
		</div>
	</div>
	<script>
		const routes = [
			{ path: '/mfc_template_list', component: templateView, props: {list: 'mfcList', columns: 'templateListColumns'} },
			{ path: '/urm_template_list', component: templateView, props: {list: 'urmList', columns: 'templateListColumns'} },
			{ path: '/mfc_common_data', component: commonDataView, props: {list: 'mfcList', columns: 'commonDataColumns'} },
			{ path: '/urm_common_data', component: commonDataView, props: {list: 'urmList', columns: 'commonDataColumns'} },
			{ path: '/user_settings', component: httpVueLoader('vue/user-settings.vue') },
		];
		const router = new VueRouter({
			routes
		});
		Vue.filter('date', function (value) {
			if (!value) return '';
			value = value.toString();
			value.split('-')[0];
			return(value.split('-')[2] + '.' + value.split('-')[1] + '.' + value.split('-')[0]);
		})
		const fs = require('fs');
		var app = new Vue({
			router,
			el: '#app',
			data: {
				currentUser: null,
				currentPage: null,
				cardData: null,
				mfcList: null,
				urmList: null,
				gridColumns: null,
	      		isFavoriteOnly: null,
	      		dictionarySubjectName: null,
			  	searchQuery: '',

			  cardFields: [
					{
						label: 'Полное наименование',
						field: 'full_name'
					},
					{
						label: 'Организационно-правовая форма',
						field: 'business_form',
						type: 'select',
						options: [
							{
								value: 'Государственное бюджетное учреждение'
							},
							{
								value: 'Государственное казенное учреждение'
							},
							{
								value: 'Государственное автономное учреждение'
							},
							{
								value: 'Муниципальное бюджетное учреждение'
							},
							{
								value: 'Муниципальное казенное учреждение'
							},
							{
								value: 'Муниципальное автономное учреждение'
							}
						]
					},
					{
						label: 'ИНН',
						field: 'inn'
					},
					{
						label: 'ОГРН',
						field: 'mfc_ogrn'
					},
					{
						label: 'Статус',
						field: 'status',
						type: 'select',
						options: [
							{
								value: 'действующий'
							},
							{
								value: 'ликвидированный'
							}
						]
					},
					{
						label: 'Дата начала предоставления услуг',
						type: 'date',
						field: 'start_date'
					},
					{
						type: 'number',
						label: 'Количество окон',
						field: 'wnd_count'
					},
					{
						type: 'number',
						label: 'Количество окон, в которых работают универсальные специалисты',
						field: 'universal_wnd_count'
					},
					{
						label: 'Тип создания',
						field: 'create_type',
						type: 'select',
						options: [
							{
								value: 'безвозмездное пользование'
							},
							{
								value: 'строительство'
							},
							{
								value: 'ремонт'
							},
							{
								value: 'аренда'
							},
							{
								value: 'приобретение помещения'
							}
						]
					},
					{
						label: 'Правовой статус',
						field: 'legal_status'
					},
					{
						label: 'Учредитель',
						field: 'mfc_founder'
					},
					{
						type: 'subheading',
						label: 'Руководитель'
					},
					{
						label: 'Ф.И.О.',
						field: 'head_full_name'
					},
					{
						label: 'Должность',
						field: 'head_position'
					},
					{
						label: 'Телефон',
						field: 'head_phone'
					},
					{
						label: 'Адрес электронной почты',
						field: 'head_email'
					},
					{
						type: 'subheading',
						label: 'Адрес'
					},
					{
						label: 'Полный адрес',
						field: 'address'
					},
					{
						label: 'Субъект РФ',
						field: 'rf_subject'
					},
					{
						label: 'Широта',
						field: 'coordinates.latitude'
					},
					{
						label: 'Долгота',
						field: 'coordinates.longitude'
					},
					{
						type: 'subheading',
						label: 'Режим работы'
					},
					{
						type: 'schedule',
						field: 'schedule'
					},
					{
						type: 'subheading',
						label: 'Контакты'
					},
					{
						label: 'Интернет-сайт',
						field: 'site'
					},
					{
						label: 'Телефон',
						field: 'phone'
					},
					{
						label: 'Адрес электронной почты',
						field: 'email'
					},
					{
						type: 'subheading',
						label: 'Контактное лицо'
					},
					{
						label: 'Ф.И.О. контактного лица',
						field: 'contact_person_full_name'
					},
					{
						label: 'Должность',
						field: 'contact_person_position'
					},
					{
						label: 'Телефон',
						field: 'contact_person_phone'
					},
					{
						label: 'Адрес электронной почты',
						field: 'contact_person_email'
					}
			  ],
				commonDataColumns: [
					{
						label: 'Полное наименование',
						field: 'full_name'
					},
					{
						label: 'Адрес',
						field: 'address',
					},
					{
						label: 'Дата открытия',
						field: 'start_date',
					},
					{
						label: 'Кол-во\nокон',
						field: 'wnd_count',
					},
					{
						label: ' ',
						field: 'is_favorite',
						noSort: true,
					},
				],
				templateListColumns: [
					{
						label: 'Полное наименование',
						field: 'full_name'
					},
					{
						label: 'Адрес',
						field: 'address',
					},
					{
						label: 'Шаблоны',
						field: 'id',
						noSort: true,
					},
					{
						label: ' ',
						field: 'is_favorite',
						noSort: true,
					},
				],
				userSettings: [
					{
						label: 'Логин:',
						field: 'email',
					},
					{
						label: 'ФИО:',
						field: 'fio',
					},
					{
						label: 'Роль:',
						field: 'roles',
					},
					{
						label: 'Субъект:',
						field: 'rfSubjectRoleIds',
					}
				]
			},
			computed: {
				version: function() {
					return(nw.App.manifest.version)
				},
				favoriteList: {
					get: function() {
						return( JSON.parse( localStorage.getItem( 'favoriteList' ) || '{}' ) );
					},
					set: function(newValue) {
						localStorage.setItem( 'favoriteList', JSON.stringify(newValue) );
					},				
				},
			},
			mounted: function () {
				this.isFavoriteOnly = localStorage.getItem( 'isFavoriteOnly' ) == 'true';
			},
			watch: {

			},
			components: {

			},
			methods: {
				login: function(username, password) {
					fetch('https://моидокументы.рф/mfc/ws/auth/login', {
						credentials: "same-origin",
						method: 'post',
						headers: {
							"Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
						},
						body: 'username=' + username + '&password=' + password
					})
						.then((response) => {
							if(!response.ok) {
								throw new Error('Network response was not ok');
							}
							response.json().then(function(data) {
								app.updateLogin();
							});
						})
						.catch((error) => {
							throw new Error(error);
						});
				},
				updateLogin: function() {
					fetch('https://моидокументы.рф/mfc/ws/auth/current', {
						credentials: "same-origin"
					})
						.then((response) => {
							if(!response.ok) {
								if (localStorage.rememberLogin == 'true') {
									app.login(localStorage.username, localStorage.password);
								}
								throw new Error('Network response was not ok');
							}
							response.json().then(function(data) {
								app.currentUser = data;
							});
						})
						.catch((error) => {
							throw new Error(error);
						});
				},
				submitLogin: function() {
					var username = document.querySelector('#username').value;
					var password = document.querySelector('#password').value;
					var rememberLogin = document.querySelector('#rememberLogin').checked;
					if (rememberLogin) {
						localStorage.setItem('rememberLogin', rememberLogin);
						localStorage.setItem('username', username);
						localStorage.setItem('password', password);
					}
					else {
						//localStorage.clear();
						localStorage.removeItem('rememberLogin');
						localStorage.removeItem('username');
						localStorage.removeItem('password');
					}
					app.login(username, password);
				},
				logout: function() {
					//localStorage.clear();
					localStorage.removeItem('rememberLogin');
					localStorage.removeItem('username');
					localStorage.removeItem('password');
					fetch('https://моидокументы.рф/mfc/ws/auth/logout', {
						credentials: "same-origin"
					})
						.then((response) => {
							if(!response.ok) {
								throw new Error('Network response was not ok');
							}
							response.json().then(function(data) {
								app.currentUser = false;
							});
						})
						.catch((error) => {
							throw new Error(error);
						});
				},
				getUrmList: function() {
					var newUrmList = null;
					fetch('https://моидокументы.рф/mfc/ws/dictionary/unicombo/?collection=amm_sys_urm_card_form&fields=["_id","common_data.address","common_data.full_name","common_data.status","common_data.profile","common_data.wnd_count","common_data.start_date","common_data.finish_date"]&additionalFilter={"common_data.rf_subject":80,"common_data.status":"\u0434\u0435\u0439\u0441\u0442\u0432\u0443\u044e\u0449\u0438\u0439","$or":[{"common_data.hidden":{"$exists":false}},{"common_data.hidden":{"$in":[0,false]}}]}&sort={"common_data.address":1}&page=1&start=0', {
						credentials: "same-origin"
					})
						.then((response) => {
							if(!response.ok) {
								throw new Error('Network response was not ok');
							}
							response.json().then(function(data) {
								newUrmList = [];
								data.items.forEach(function(item, i, arr) {
									newUrmList[i] = item.common_data;
									newUrmList[i].is_favorite = app.favoriteList && app.favoriteList[item._id] == true;
									newUrmList[i].id = item._id;
								});
								app.urmList = newUrmList;
							});
						})
						.catch((error) => {
							throw new Error(error);
						});
				},
				getMfcList: function() {
					var newMfcList = null;
						fetch('https://моидокументы.рф/mfc/ws/dictionary/unicombo/?collection=amm_sys_mfc_card_form&fields=["_id","common_data.address","common_data.full_name","common_data.status","common_data.profile","common_data.wnd_count","common_data.start_date","common_data.finish_date"]&additionalFilter={"common_data.rf_subject":80,"common_data.status":"\u0434\u0435\u0439\u0441\u0442\u0432\u0443\u044e\u0449\u0438\u0439","$or":[{"common_data.hidden":{"$exists":false}},{"common_data.hidden":{"$in":[0,false]}}]}&sort={"common_data.address":1}&page=1&start=0', {
						credentials: "same-origin"
					})
						.then((response) => {
							if(!response.ok) {
								throw new Error('Network response was not ok');
							}
							response.json().then(function(data) {
								newMfcList = [];
								data.items.forEach(function(item, i, arr) {
									newMfcList[i] = item.common_data;
									newMfcList[i].is_favorite = app.favoriteList && app.favoriteList[item._id] == true;
									newMfcList[i].id = item._id;
								});
								app.mfcList = newMfcList;
							});
						})
						.catch((error) => {
							throw new Error(error);
						});
				},
				getDictionarySubjectName: function() {
					fetch('https://моидокументы.рф/mfc/ws/dictionary/dictionary_division_population/list/filter', {
						credentials: "same-origin",
						method: 'post',
						headers: {
							"Content-type": "application/json;charset=UTF-8"
						},
						body: '{disableAccessCheck: true, fields:["rf_subject_name"]}'
					})
						.then((response) => {
							if(!response.ok) {
								throw new Error('Network response was not ok');
							}
							response.json().then(function(data) {
								var dictionarySubjectName = {};
								data.map(function(item){
									dictionarySubjectName[item._id] = item.rf_subject_name;
								})
								app.dictionarySubjectName = dictionarySubjectName;
							});
						})
						.catch((error) => {
							throw new Error(error);
						});
				},
				getMfcCard: function(id) {
					app.cardData = null;
					fetch('https://моидокументы.рф/mfc/ws/cards/mfc/getSingle/' + id, {
						credentials: "same-origin"
					})
						.then((response) => {
							if(!response.ok) {
								throw new Error('Network response was not ok');
							}
							response.json().then(function(data) {
								app.cardData = data;
							});
						})
						.catch((error) => {
							throw new Error(error);
						});
				},
				getUrmCard: function(id) {
					app.cardData = null;
					fetch('https://моидокументы.рф/mfc/ws/cards/urm/getSingle/' + id, {
						credentials: "same-origin"
					})
						.then((response) => {
							if(!response.ok) {
								throw new Error('Network response was not ok');
							}
							response.json().then(function(data) {
								app.cardData = data;
							});
						})
						.catch((error) => {
							throw new Error(error);
						});
				},
			},
			mixins: [
				commonMethods
			],
			created: function() {
				this.updateLogin();
				this.getDictionarySubjectName();
				updateInterval = window.setInterval('app.updateLogin()', 300000);
			}
		});
	</script>
</body>
</html>